# DATABASE (Neon Postgres)
DATABASE_URL="postgresql://neondb_owner:your_password@ep-small-firefly-av99noph-pooler.c-11.us-east-1.aws.neon.tech/neondb?channel_binding=require&sslmode=require"
DATABASE_URL_UNPOOLED="postgresql://neondb_owner:your_password@ep-small-firefly-av99noph.c-11.us-east-1.aws.neon.tech/neondb?sslmode=require"

# Parameters for Vercel / Postgres
POSTGRES_URL="postgresql://neondb_owner:your_password@ep-small-firefly-av99noph-pooler.c-11.us-east-1.aws.neon.tech/neondb?channel_binding=require&sslmode=require"
POSTGRES_URL_NON_POOLING="postgresql://neondb_owner:your_password@ep-small-firefly-av99noph-pooler.c-11.us-east-1.aws.neon.tech/neondb?channel_binding=require&sslmode=require"
POSTGRES_PRISMA_URL="postgresql://neondb_owner:your_password@ep-small-firefly-av99noph-pooler.c-11.us-east-1.aws.neon.tech/neondb?channel_binding=require&connect_timeout=15&sslmode=require"
POSTGRES_USER="neondb_owner"
POSTGRES_HOST="ep-small-firefly-av99noph-pooler.c-11.us-east-1.aws.neon.tech"
POSTGRES_PASSWORD="your_password"
POSTGRES_DATABASE="neondb"

# Vercel Blob (preenchido automaticamente na Vercel ao conectar o Storage)
# BLOB_READ_WRITE_TOKEN=""
